{% extends "layout.html" %}
{% block content %}
<div class="info-content" id="shopping-list">
    <h2 class="m-2">Shopping list</h2>
    <ul id="sl"></ul>
    <div class="container">
        <b class="text-right">Total $<span id="total">0</span></b>
    </div>
    <button type="button" class="btn btn-danger mx-auto mb-2" id="btn-order">ORDER</button>
</div>
<div class="info-content" id="menu">
    <h1 class="text-center">Menu</h1>
    <div class="row d-flex justify-content-between p-4" id="menu-navbar"></div>
    {% for item in menu.items %}
    <section id="{{item.0}}" class="container pt-2">
        <h2>{{item.0}}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">features</th>
                    <th scope="col">small price</th>
                    <th scope="col">large price</th>
                </tr>
            </thead>
            <tbody data-type="{{item.0}}">
                {% for dish in item.1 %}
                <tr data-info="{{dish.id}}">
                    <th scope="row">{{dish.features}}</th>
                    <td data-size="small">{{dish.small_price}}</td>
                    <td data-size="large">{{dish.large_price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endfor %}
    {% for item in alternatives.items %}
    <section id="{{item.0}}" class="container pt-2">
        <h2>{{item.0}}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">description</th>
                    <th scope="col">price</th>
                </tr>
            </thead>
            <tbody data-type="{{item.0}}">
                {% for dish in item.1 %}
                <tr data-info="{{dish.id}}">
                    <th scope="row">{{dish.description}}</th>
                    <td data-size=" ">{{dish.price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endfor %}
    <section id="toppings" class="container">
        <h2>toppings</h2>
        <table class="table">
            <tbody>
                {% for item in toppings %}
                <tr>
                    <th>{{item.description}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
<div class="modal fade" id="modal-toppings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">toppings</h5>
        </div>
        <div class="modal-body">
            {% for item in toppings %}
                <div>
                    <input type="checkbox" id="{{item.description}}" class="ml-2 mr-2 topping">
                    {{item.description}}
                </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary close" data-dismiss="modal" id="save-toppings">Save</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}