{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="info-content">
    <h2 class="m-2">Confirm order</h2>
    <ul id="order-list"></ul>
    <div class="order-total">
        Total $<span id="total">0</span></b>
    </div>
    <a href="http://localhost:8000/" class="btn btn-danger mt-2 ml-3 mb-3">Back</a>
    <a href="http://localhost:8000/make-order/" class="btn btn-danger mt-2 ml-3 mb-3" id="btn-confirm">Confirm order</a>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock %}